/*colors*/
.Servicios {
  display: block;
}

iframe {
  width: 500px;
  height: 500px;
}

#Estudios {
  display: block;
}

#MapaUbicacion {
  display: flex;
  justify-content: center;
}

.facialYCorporal {
  width: 200px;
}

/*Carrousel*/
.Carrousel-maquillaje {
  display: flex;
  width: 100%;
  height: 430px;
}
.Carrousel-maquillaje img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.Carrousel-maquillaje img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.textoMaquillaje {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  width: 480px;
  font-size: 17px;
}

/*Responsive*/
@media (min-width: 768px) {
  .textoMaquillaje {
    width: 768px;
  }
}
td {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "ABeeZee", sans-serif;
}

.imagenes {
  margin-left: 40px;
  margin-right: 40px;
}

#ImagenesMimos {
  width: 200px;
}

#depilacionLaser {
  width: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#cuponeras {
  font-family: "ABeeZee", sans-serif;
  text-align: center;
}

p {
  font-family: "ABeeZee", sans-serif;
}

.SHR {
  height: 200px;
}

.textoDepilacion {
  width: 300px;
  text-align: center;
}

@media (min-width: 768px) {
  .textoDepilacion {
    width: 500px;
  }
}
@media (min-width: 940px) {
  .textoDepilacion {
    width: 768px;
  }
}
@keyframes cuponera_efect {
  0% {
    background-color: rgb(104, 170, 209);
    color: black;
  }
  100% {
    background-color: rgb(136, 189, 219);
    color: black;
  }
}
.alert {
  background-color: rgb(104, 170, 209);
  font-size: 30px;
  animation-name: cuponera_efect;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

#ImagenContacto {
  width: 250px;
  margin: 100px;
  vertical-align: middle;
}

.TextoContacto {
  font-size: 35px;
}

#RedesContacto {
  display: block;
}

.Contacto-card {
  background-color: rgb(104, 170, 209);
  color: black;
}

/*header*/
header .navbar-toggler:hover {
  background-color: rgb(104, 170, 209);
}
header .navbar-nav .nav-item .nav-link:hover {
  color: rgb(136, 189, 219);
}

#logos {
  width: 20px;
}

.TituloPerla {
  background-color: rgb(104, 170, 209);
}

#index {
  display: inline;
  margin-right: 30px;
}

.Titulo {
  margin-left: 150px;
}

.navbar .navbar-link:hover {
  color: rgb(104, 170, 209);
}

/*Titulos*/
h2 {
  color: rgb(136, 189, 219);
  font-family: "Style Script", cursive;
  display: inline;
}

h1 {
  font-family: "Style Script", cursive;
}

h3 {
  font-family: "ABeeZee", sans-serif;
}

/*Generales del body*/
body {
  background-color: rgb(202, 101, 147);
}

.card {
  background-color: rgb(136, 189, 219);
}

div {
  display: grid;
  text-align: center;
  font-family: "ABeeZee", sans-serif;
}

label, input {
  display: block;
  font-family: "ABeeZee", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: "ABeeZee", sans-serif;
}

/*Form*/
.btn {
  background-color: rgb(136, 189, 219);
  color: black;
  border-color: black;
  border-width: 2px;
}

footer #Whatsapp {
  height: 50px;
  vertical-align: middle;
  margin-bottom: 20px;
}
footer #Instagram {
  width: 50px;
  vertical-align: middle;
  margin-bottom: 20px;
}
footer #Facebook {
  width: 50px;
  vertical-align: middle;
  margin-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
