#depilacionLaser{
    width: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#cuponeras{
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
}
p{
    font-family: 'ABeeZee', sans-serif;
}
.SHR{
    height: 200px;
    align-self: center;
    justify-self: center; 
}
.equipo{
    height: 200px;
    align-self: center;
    justify-self: center;   
}