h2 {
    color: rgb(255, 233, 243);
    
    font-family: 'Style Script', cursive;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'ABeeZee', sans-serif;
}

#logos {
    width: 20px;
}
.TituloPerla{
    background-color: rgb(217, 153, 185);
}