header{
    .navbar-toggler:hover{
        background-color: rgb(217, 153, 185);
    }
    .navbar-nav{
        .nav-item{
            .nav-link:hover{
                color: rgb(255, 233, 243);
            }
            
        }
    }
}

body{
    background-color: rgb(132, 92, 110);
}
#index{
    display: inline;
    margin-right: 30px;
}
.Titulo{
    margin-left: 150px;
}
.navbar .navbar-link:hover{
    color: rgb(217, 153, 185);
}

.card{
    background-color: rgb(255, 233, 243);
}
.btn{
    background-color: rgb(255, 233, 243);
    color: black;
    border-color: black;
    border-width: 2px;
}


footer{
    #Whatsapp{
        height: 50px;
        vertical-align: middle;
        margin-bottom: 20px;
    }
    #Instagram{
        width: 50px;
        vertical-align: middle;
        margin-bottom: 20px;
    }
    #Facebook{
        width: 50px;
        vertical-align: middle;
        margin-bottom: 20px;
    }
}